@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app1 {
  display: flex;
  margin-bottom: 30px;
}

.counterstyle {
  color: white;
  background-color: #5c48d3;
  font-weight: 300;
  font-size: 35px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 20px;
}

.decreincrestyle {
  background-color: white;
  border: 0px white solid;
  font-size: 50px;
}

.resetstyle {
  color: white;
  background-color: #5c48d3;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border: 0px white solid;
  margin-bottom: 300px;
}

span {
  font-weight: bold;
}
